#periodic-table-window {
    background-color: rgba(19, 18, 18, 0.75);
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(21px) saturate(100%);
    border-radius: 20px;
    font-weight: 900;
    font-size: 1.5em;
    color: #000000;
}

#div-table {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    margin-top: 23rem;
    transform: translate(-50%, -50%);
    user-select: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.title {
    background-color: rgba(19, 18, 18, 0.75);
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(21px) saturate(100%);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
}

.empty_element {
    border-radius: 0;
    border-width: 0;
    border-style: none;
}

.nonmetal {
    border-color: #0eea27;
    color: #0eea27;
}

.noble_gas {
    border-color: #37831f;
    color: #37831f;
}

.alkali_metal {
    border-color: #b10909;
    color: #b10909;
}

.alkaline_earth_metal {
    border-color: #e17a29;
    color: #e17a29;
}

.halogen {
    border-color: #e4ec18;
    color: #e4ec18;
}

.metalloid {
    border-color: #2b77a1;
    color : #2b77a1;
}

.metal {
    border-color: #22bac8;
    color: #22bac8;
}

.transition_metal {
    border-color: #2fffdb;
    color: #2fffdb;
}

.lanthanide {
    border-color: #c163ff;
    color: #c163ff;
}

.actinide {
    border-color: #8b0cfd;
    color: #8b0cfd;
}