.txt{
    font-size: 25px;
    margin-top: 0px;
}

.title{
    text-align: center;
}

.desc{
    font-size: 15px;
}

.bigger:hover{
    transition: 0.4s;
    font-size: 30px;
    font-weight: 900;
}

.bigger:not(:hover){
    transition: 0.4s;
    font-size: 25px;
}

/* Дальше идут конфигурации окон */

#window-index{
    background-color: rgba(19, 18, 18, 0.75);
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(21px) saturate(100%);
    border-radius: 10px;
    user-select: none;
    text-align: center;
    position: absolute;
    width: 750px;
    height: 290px;
    left: 50%;
    margin-right: -50%;
    margin-top: 10em;
    transform: translate(-50%, -50%);
}

#window-about{
    background-color: rgba(19, 18, 18, 0.75);
    border-radius: 10px;
    user-select: none;
    text-align: center;
    position: absolute;
    width: 750px;
    height: 525px;
    left: 50%;
    margin-right: -50%;
    margin-top: 17em;
    transform: translate(-50%, -50%);
}

#window-404{
    background-color: rgba(19, 18, 18, 0.75);
    border-radius: 10px;
    user-select: none;
    text-align: center;
    position: absolute;
    width: 600px;
    height: 400px;
    left: 50%;
    margin-right: -50%;
    margin-top: 10em;
    transform: translate(-50%, -50%);
}

#window-util{
    background-color: rgba(19, 18, 18, 0.75);
    border-radius: 10px;
    user-select: none;
    text-align: center;
    position: absolute;
    width: 300px;
    height: 225px;
    left: 50%;
    margin-right: -50%;
    margin-top: 10em;
    transform: translate(-50%, -50%);
}

#window-store-main{
    background-color: rgba(19, 18, 18, 0.75);
    border-radius: 10px;
    user-select: none;
    text-align: center;
    position: absolute;
    width: 660px;
    height: 150px;
    left: 50%;
    margin-right: -50%;
    margin-top: 5em;
    transform: translate(-50%, -50%);
}

#window-store-sds{
    background-color: rgba(19, 18, 18, 0.75);
    border-radius: 25px;
    user-select: none;
    text-align: center;
    position: absolute;
    width: 400px;
    height: 200px;
    left: 25%;
    margin-right: -75%;
    margin-top: 17em;
    transform: translate(-50%, -50%);
}

#window-store-sds2{
    background-color: rgba(19, 18, 18, 0.75);
    border-radius: 25px;
    user-select: none;
    text-align: center;
    position: absolute;
    width: 400px;
    height: 200px;
    left: 50%;
    margin-right: -50%;
    margin-top: 17em;
    transform: translate(-50%, -50%);
}

#window-store-sfs{
    background-color: rgba(19, 18, 18, 0.75);
    border-radius: 25px;
    user-select: none;
    text-align: center;
    position: absolute;
    width: 400px;
    height: 200px;
    left: 75%;
    margin-right: -25%;
    margin-top: 17em;
    transform: translate(-50%, -50%);
}

#window-social{
    background-color: rgba(19, 18, 18, 0.75);
    border-radius: 10px;
    user-select: none;
    text-align: center;
    position: absolute;
    width: 600px;
    height: 225px;
    left: 50%;
    margin-right: -50%;
    margin-top: 10em;
    transform: translate(-50%, -50%);
}